:root {
	--bg-color:  #e5e8eb;
	--btn-primary-2: #0074bf;
	--btn-secondary-2: #1a1a1b9c;
	--secondary-2: #4a8ce2;
	--navbar-bg-2: #0074bf;
	--text-btn-color: white;
	--table-border-color-2: #0073bf57;
	--btn-default-hover-bg: white;
	--sidebar-select-color-2: #015f8428;
	--checkbox-gradient: linear-gradient(180deg, var(--btn-primary-2) -124.51%, var(--btn-primary-2) 100%);
	--text-base: 14px;
	--card-background: #0073bf1c;
	--main-text-color: #0074bf;
	--background: #ffffff;
	--table-border-color: #000000;
	--text-color-2: #111111;
	--svg-bg: #ffffff;
	--glass-effect-bg: rgba(255, 255, 255, 0.527);
}

[data-theme="dark"]{
	--background: #222222;
	--bg-color:  #000000;
	--text-hover-color: #111111;
	--table-border-color: #ffffff;
	--text-color-2: #ffffff;
	--text-btn-color: #111111;
	--svg-bg: #111111;

}
/* login page */

[data-path="login"] .navbar-light {
	border-bottom: 1px solid var(--blue-400) !important;
	background: var(--navbar-bg-2);
}

[data-path="login"] .web-footer {
	border-top: 1px solid var(--blue-400) !important;
}

[data-path="login"] .navbar-light{
	padding: 10px 0;
}

[data-path="login"] .navbar-light .navbar-brand img {
	
		max-height: 50px;
	  
}
.desk-sidebar .standard-sidebar-item svg{
	margin-right: 0;
}

.navbar-home img {
	max-height: 50px;
  }

  .widget.onboarding-widget-box{
	padding: 15px;
	border-radius: 10px;
	background-color: var(--sidebar-select-color-2);
  }

@media (min-width: 992px) {
	[data-page-route="Workspaces"] .layout-main .layout-side-section, [data-page-route="Workspaces"] .layout-main .layout-main-section-wrapper {
	  height: 100%;
	  overflow-y: auto;
	  scrollbar-color: var(--btn-primary-2) transparent;
	}
  }
.for-login .page-card {
	border: 1px solid var(--blue-400) !important;
}

.for-login .btn-login{
	background-color: var(--blue-800) !important;
	border: none !important;
	color: white;
}

.for-login .btn-login:hover{
	background-color: var(--blue-600) !important;
	border: none !important;
	color: white;
}

.for-login .page-card-head h4 {
	color: black !important;
}

.for-login .form-control, .for-login .form-control{
	background-color: white !important;
	border: solid 1px var(--blue-400) !important;
}

.for-login .form-control:focus, .for-login .form-control:hover{
	box-shadow: 0 0 0 1px var(--blue-300) !important;
}

.for-login .page-card .page-card-body .forgot-password-message>* {
	color: var(--blue-600) !important;
}

/* NAVBAR DESIGNE */

.navbar .navbar-expand span, 
.navbar .navbar-expand li a,
#navbar-breadcrumbs a,
.navbar .nav-item button.nav-link{ 
	color: var(--btn-default-hover-bg) !important;

}

#navbar-breadcrumbs li.disabled a {
  color: #ffffff !important;
}

.nav-tabs{ 
	border:none;
}

.search-bar span {
	color: var(--neutral-black) !important;
}

.search-bar .awesomplete input{
	background-color: var(--bg-color);
}


/* PAGE DESIGN */

body, .page-container { 
	background-color: var(--bg-color) !important;
}

.page-head { 
	background-color: var(--bg-color) !important;
}

/* .es-icon {
	@extend .icon;
	fill :  #017E8480 !important; 
	stroke:  #017E8480 !important;
} */

.page-content .layout-main-section{
        background-color: var(--background);
		padding: 20px;
		border-radius: 10px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.datatable .dt-cell {
  background-color: #fff !important;
}

/* DASHBOARD DESIGN */
.desk-sidebar-item{
	line-height: 2.2;
}

.widget.links-widget-box, .widget.dashboard-widget-box {
	border: 1px solid #0074bf80;
}

.widget.links-widget-box .widget-head .widget-label .widget-title{
	color: #0074bf !important;
}

.widget-body .link-item{
	margin-bottom: 5px !important;
}

.icon-md {
	width: 30px;
	height: 30px;
}

/* .onboard-spotlight {
	color: var(--secondary) !important;
} */

a.onboard-spotlight .link-content:hover {
	color: var(--btn-primary-2) !important;
}

.dropdown-notifications .es-icon{
	@extend .icon;
	fill :  white !important; 
	stroke:  white !important;
}

/* LIST GRID DESIGN */

.list-filters .form-control, .standard-filter-section .form-control, .standard-filter-section .form-control {
	box-shadow: 0 0 0 1px rgba(124, 124, 124, 0.25) !important;
}

.level.list-row-head, .level.list-row-head .level-item {
	font-weight:bold;
	background-color: var(--gray-300);
}
.list-row-container .list-row:hover{
	background-color: var(--sidebar-select-color-2);
}

.list-filters .form-control:focus, .list-filters .form-control:hover,
.standard-filter-section .form-control:focus, .standard-filter-section .form-control:hover {
	box-shadow: 0 0 0 2px rgba(124, 124, 124, 0.25) !important;
}

/*  FORM DESIGN  */
.form-control, .frappe-control .ql-editor:not(.read-mode){
	box-shadow: 0 0 0 1px rgba(124, 124, 124, 0.25) !important;
	padding: 20px 10px;
  border: 1px solid var(--table-border-color-2);
  background-color: transparent ;
}

.ace_editor {
	box-shadow: 0 0 0 1px rgba(124, 124, 124, 0.25) !important;
}

.ql-editor:focus, .ace_editor:focus{
	box-shadow: 0 0 0 2px rgba(124, 124, 124, 0.25) !important;
}

.form-control:focus, .form-control:hover{
	box-shadow: 0 0 0 2px #0074bf80 !important;
}

.form-control:focus {
	background-color: #0074bf25;
}

.frappe-control:not([data-fieldtype="MultiSelectPills"]):not([data-fieldtype="Table MultiSelect"]).has-error input:hover,
.frappe-control:not([data-fieldtype="MultiSelectPills"]):not([data-fieldtype="Table MultiSelect"]).has-error input:focus
{
	box-shadow: 0 0 0 2px #0074bf80 !important;
}

.frappe-control:not([data-fieldtype="MultiSelectPills"]):not([data-fieldtype="Table MultiSelect"]).has-error input{
	box-shadow: none !important;
}

option {
	 background-color: white !important;
}

.grid-heading-row .filter-row, .awesomplete [role="listbox"] {
	background-color: white !important;
}

.grid-row-open{
	box-shadow: 0 0 0 3px #0074bf !important;
}

.awesomplete [role="option"]:hover,  .awesomplete li:hover{
	background-color: var(--gray-300) !important;
}

input[type="checkbox"]:checked {
	background-color: var(--btn-secondary-2) !important;
	background-image: url("data:image/svg+xml, <svg viewBox='0 0 8 7' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4.00001L2.66667 5.80001L7 1.20001' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>"),var(--checkbox-gradient) !important;
}

.datepicker {
	 background-color: var(--bg-color) !important;
}

/* BUTTONS DESIGN */ 
.btn{
	border-radius: 0.25rem !important;
}

.btn.btn-primary{
	color: var(--text-btn-color);
	border: solid 2px #0074bf !important;
}

.btn.btn-primary:hover {
	background: transparent !important;
	border: solid 2px #0074bf !important;
	color: var(--text-color);
  }

.standard-actions .btn.btn-secondary{
	background: var(--secondary-2) !important;
        border: solid 2px var(--secondary-2) !important;
	color: var(--text-btn-color);
}

.standard-actions .btn.btn-secondary:hover{
	background: var(--btn-default-hover-bg) !important;
    	border: solid 2px var(--secondary-2) !important;
	color: var(--text-color);
}

.custom-actions .btn.btn-default{
	background: var(--secondary-2) !important;
        border: solid 2px var(--secondary-2) !important;
	color: var(--text-btn-color);
}

.custom-actions .btn.btn-default:hover{
    	border: solid 2px var(--secondary-2) !important;
	color: var(--text-color);
}

.btn.btn-secondary .es-icon{
	@extend .icon;
	fill :  white !important; 
	stroke:  white !important;
}

.btn.btn-default {
    border: solid 1px var(--table-border-color-2) !important;
    color: var(--text-color);
}

.btn.grid-add-row{
	background: var(--btn-default-hover-bg) !important;
    border: solid 1px var(--btn-secondary-2) !important;
    color: var(--text-color);
}

.btn.btn-new-doc{
	background-color: #0074bf !important;
	color: var(--text-btn-color);
	border: solid 2px #0074bf !important;
}

.btn.btn-new-doc:hover{
	background: var(--btn-default-hover-bg) !important;
	border: solid 2px #0074bf !important;
	color: var(--text-color);
}

.custom-actions .btn{
	font-size: 12px !important;
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle), div#driver-popover-item .driver-popover-footer .btn-group > button:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > .btn, div#driver-popover-item .driver-popover-footer .btn-group > .btn-group:not(:last-child) > button {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;  
}

.btn-group > .btn:not(:first-child), div#driver-popover-item .driver-popover-footer .btn-group > button:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn, div#driver-popover-item .driver-popover-footer .btn-group > .btn-group:not(:first-child) > button {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

/* POS DESIGN */

.point-of-sale-app section { 
	min-height: 40rem !important;
}

.client-wrapper ul {
	padding-left: 22px;
	margin-top: 0; 
	margin-bottom:0;
}

.client-wrapper li {
  float: left;
  list-style-type: none;
}

.client-wrapper li a { 
	display: inline-block;
	text-decoration: none;
	width: 100%; 
	background-color: var(--gray-300) !important; 
	color: black; 
	text-align: center;
}

.client-wrapper li a.plus-pos, .client-wrapper li a.plus-pos:focus, .client-wrapper li a.plus-pos:hover{
        background-color: var(--gray-400) !important;
}

.client-wrapper li a.minus-pos, .client-wrapper li a.minus-pos:focus, .client-wrapper li a.minus-pos:hover{
	background-color: var(--red-400) !important;
}

.client-wrapper li a:focus,
.client-wrapper li a:hover {
  background-color: var(--gray-400) !important;
  color: black;
}

.client-wrapper li a.active {
  background-color:  white !important;
  color: black;
}

/* my changes */

.navbar{
	height: 60px !important;
	background-color: var(--navbar-bg-2);
}

.workspace-footer .btn:not(.btn-md):not(.btn-lg){
	padding: 0 10px;
}

.page-title .title-area .title-text{
	color: var(--main-text-color);
}

.col-lg-3 .widget.shortcut-widget-box{
	padding: 15px 7px;
	background-color: var(--card-background);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border: 1px solid var(--btn-primary-2);
}

.col-md-4 .links-widget-box {
	padding: 0;
}
.col-md-4  .links-widget-box .widget-head{
	border-bottom: 1px solid var(--table-border-color-2);
	padding: 10px ;
	background-color: #0073bf1a;
	border-radius: 10px 10px 0 0;
}
.col-md-4  .links-widget-box .widget-body{
	padding: 10px ;
}
.col-md-4 .widget.links-widget-box .link-item{
	padding: 10px;
	background-color: var(--card-background);
	margin: 10px 0;
}

.widget.links-widget-box .link-item:first-child {
	margin-top: 0;
}

[data-page-route="Workspaces"] .layout-main .layout-side-section{
	background-color: var(--navbar-bg-2);
	border-radius: 10px;
}

.standard-sidebar .standard-sidebar-item > a, .desk-sidebar .standard-sidebar-item > a, .search-dialog .search-results .search-sidebar .standard-sidebar-item > a {
	color: var(--btn-default-hover-bg);
  }

  .desk-sidebar .standard-sidebar-item svg.icon-md{
	height: 45px;
	width: 45px;
	padding: 10px;
	border-radius: 50%;
	background-color: var(--svg-bg);
	border: 1px solid var(--navbar-bg-2);
  }
  .desk-sidebar .standard-sidebar-item svg.icon-md

.desk-sidebar .standard-sidebar-item.selected, .desk-sidebar .standard-sidebar-item:hover{
	background-color: var(--table-border-color-2);
	position: relative;
}
[data-page-route="Workspaces"] .standard-sidebar-item .item-anchor{
	flex-direction: column;
	text-align: center;
}
.sidebar-item-control{
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
}

/* login */

.for-login .page-card form{
	max-width: 400px !important;
}

.for-login .page-card{
	max-width: 500px !important;
}

.for-login .page-card .page-card-body input[type="text"], .for-login .page-card .page-card-body input[type="password"]{
	background-color: transparent !important;
	border: 1px solid var(--btn-primary-2) !important;
	margin-bottom: 0 !important;
	padding: 20px 40px !important;
}
  
.for-login .page-card .page-card-body .field-icon, .for-login .page-card .page-card-body .password-field .toggle-password{
  top: 50% !important;
  transform: translateY(-50%);
}
.for-login .page-card .page-card-body .btn-login-option:hover{
	background-color: #0074bf !important;
	color: #fff !important;
}
#page-login{
	background: linear-gradient(45deg, #0073bf1e, #0073bf3d, #0073bf6c, #0073bfa4);
	height: 100%;
	
}


.for-login .page-card{
	padding: 100px 10px !important;
	border-radius: 50px !important;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.spacer{
	background-color: var(--background);
}

.btn.btn-default:hover, .btn.btn-secondary:hover{
color: var(--text-hover-color);
}
/* user-profile */
.layout-main-section-wrapper .col-md-12{
	background-color: var(--background);
	padding: 20px;
	border-radius: 5px;
}
.user-profile-sidebar .profile-details .user-stats-item{
	align-items: center;
}

.frappe-control[data-fieldtype="Select"] .control-input select{
	height: 42px;
}
.frappe-control[data-fieldtype="Select"] .control-input .select-icon, .frappe-control[data-fieldtype="Select"].form-group .select-icon{
	top: 50%;
	transform: translateY(-50%);
}

/* general ledger */

.datatable .dt-scrollable .dt-cell__content, .datatable .dt-row-filter .dt-cell__content{
	background-color: var(--background);

}
.dt-cell{
	border-color: var(--table-border-color);
}

.datatable .dt-row-filter .dt-filter.dt-input{
	background-color: #d3d3d3;
}

[data-route="query-report/General Ledger"] .datatable.dt-instance-1 .dt-scrollable{
	max-height: calc(100vh - 600px);
}


.multiselect-list .status-text {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
  }


/* administrator */

.form-sidebar .sidebar-image-section{
	margin: auto;
}
.form-sidebar .sidebar-image-section .sidebar-standard-image .standard-image{
	border-radius: 50%;
}

.form-sidebar .sidebar-image-section .sidebar-standard-image{
	border: none;

}

.primary-action{
	color: var(	--text-color-2);
}

.frappe-control .control-value{
	padding: 10px;
	border: 1px solid var(--table-border-color-2);
}
.awesomplete .input-with-feedback{
	background-color: transparent;
}

/* payment entry */

.frappe-control[data-fieldtype="Select"].form-group .placeholder.xs {
	top: 50%;
	transform: translateY(-50%);
  }

  .btn:not(.btn-md):not(.btn-lg){
	padding: 10px 8px;
  }
  .frappe-control[data-fieldtype="Select"].form-group select{
	height: 42px;
  }

  .frappe-control[data-fieldtype="Select"].form-group .select-icon.xs,
  .frappe-control[data-fieldtype="Select"].form-group .select-icon.xs {
	top: 50% !important;
	right: 10px !important;
	transform: translateY(-50%) !important;

  }

  .desk-sidebar .standard-sidebar-item.selected a{
	color: var(--text-color-2);
  }
  .desk-sidebar .standard-sidebar-item:hover{
	color: var(--text-color-2);
	background-color: var(--sidebar-select-color);

  }

  .desk-sidebar .standard-sidebar-item:hover a{
	color: var(--text-color-2);

  }

  [data-page-route="Workspaces"] .standard-sidebar-item .item-anchor{
	padding: 8px;
  }

  [data-page-route="Workspaces"] .sidebar-item-container{
	margin: 5px 0;
  }

  .form-links .document-link .document-link-badge{
	width: 100%;
	background-color: var(--card-background);
  }
  .layout-side-section{
	background-color: var(--background);
	padding: 20px;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  }

  .report-summary{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
	border: 1px solid #0074bf80 !important;
	background-color: var(--background);

  }

  [data-route="leaderboard/User"] .standard-sidebar .standard-sidebar-item a{
	color: var(--text-color-2);
  }

  .leaderboard-sidebar{
	position: relative !important;
  }

 /* my account */

 .navbar-light{
	height: 60px !important;
    background-color: var(--navbar-bg-2) !important;
 }

  .navbar-brand img {
	max-height: 50px !important;
  }

  /* [data-path="me"] .web-sidebar {
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  } */

  .footer-logo{
	height: 3.5rem !important;
  }

  .avatar-small .standard-image, .avatar-group .avatar-action .standard-image {
	font-size: 18px !important;
	font-weight: 600 !important;
  }

  #page-me .standard-image{
	background-color: var(--card-background);
	color: var(--text-color-2);
  }

  .main-column{
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 2rem 0;
    border-radius: 20px;
	background: linear-gradient(45deg, #0073bfa4, #0073bf6c, #0073bf3d, #0073bf1e);

	

  }
  .web-footer{
	padding: 1rem 0 !important;
  }

  .my-account-header{
	color: var(--main-text-color) !important;
  }

  .web-sidebar .sidebar-item a.active, .web-sidebar .sidebar-item a:hover{
	color: var(--main-text-color) !important;
    background-color: var(--card-background) !important;
  }

   .centered{
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #0073bf1e, #0073bf3d, #0073bf6c, #0073bfa4);
	position:  relative !important;

  }
  .splash img{
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	border-radius: 10px;
	background-color: #ffffff;
	
  } 

  
  .account-info{
	background-color: var(--glass-effect-bg);
	backdrop-filter: blur( 4px );

  }
 
 

   
  